<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @building.type %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @building.identifier %>
</p>

<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
